@{
    ViewBag.Title = "About";
}

<!-- Page Header Start -->
<div class="container-fluid page-header py-3 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-3">
        <h1 class="display-1 text-white animated slideInDown">About Us</h1>
        @*<nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
                </ol>
            </nav>*@
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="~/Content/img/about-2.jpg" alt="">
                    <img class="img-fluid" src="~/Content/img/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h4 class="section-title">About Us</h4>
                <h1 class="display-5 mb-4">Build Luxury</h1>
                <p>DEAXIOM, The leading Importer, Exporter and Supplier of premium porcelain ceramic tiles in the United Kingdom and abroad. Our extensive collection features a wide range of stunning designs, perfect for transforming any space into a masterpiece. Explore our exquisite selection of tiles, including the sophisticated elegance of Austin Grey and Austin Black. These tiles exude timeless charm and add a touch of luxury to any interior.</h4></p>
                <p>For a lighter, more airy aesthetic, consider our Austin Ivory tiles. Their soft hues create a sense of warmth and serenity, perfect for creating inviting living spaces.</p>
                <p>If you're looking for a more rustic appeal, our Rough Bruno tiles are the perfect choice. With their textured finish and earthy tones, they bring a natural, organic feel to any room.</p>
                <p>For those who prefer a classic look, our County series offers a range of options, including County LGY, County Gris, County Crema, and County Anthracite. These tiles combine traditional charm with modern elegance, making them a versatile choice for any design scheme.</p>
                <p>For a bold and dramatic statement, our Brazilian Grey and Brazilian Black tiles are sure to impress. Their rich, deep colors and sleek finish add a touch of sophistication to any space.</p>
            </div>
        </div><br />
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <!-- About End -->
                <p>We are specialists in the supply and fitting of Granite and Quartz worktops, porcelain and ceramic Flooring and Wall Tiles. We also supply Wooden Flooring, Laminate, LVT, Carpets and Accessories. We pride ourselves on taking into consideration our client's individual requirements and preferences.</p>
                <p>We offer a wide range of exceptional design and installation service ensuring your needs are met without any complications. To reach each individual needs we use a variety of methods to give you the best service available.</p>
            </div>
        </div>
    </div>
</div>

<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Why Choose Us!</h4>
                <h1 class="display-5 mb-4">Why You Should Trust Us?</h1>
                <!--<p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-2.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Customer Satisfaction</h3>
                                <p class="mb-0">Dedicated to provide our clients with exceptional customer service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Best Quality</h3>
                                <p class="mb-0">Carefully selected, technically advanced product ranges to suit every application, from great value to luxurious and unique finishes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-4.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Export Network</h3>
                                <p class="mb-0">Throughout the UK and wordwide, our delivery capability is equipped to reliably meet the needs of our professional and residential clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Ontime Delivery</h3>
                                <p class="mb-0">Working together as one-team to deliver a seamless customer service On Time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Exclusive Supply</h3>
                                <p class="mb-0">Long-standing relationships with premier production plants mean we’re often first to market with the latest products on an exclusive basis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/Content/img/whyus.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
