@{
    ViewBag.Title = "Specification";
}
<script src="~/Scripts/LoadJsonFunc/LoadProdSpec.js"></script>

<!-- Page Header Start -->
<div class="container-fluid page-header py-3 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-3">
        <h1 class="display-1 text-white animated slideInDown">Kandla Grey</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Products</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Tiles</a></li>
                @*<li class="breadcrumb-item"><a class="text-white" href="#">|</a></li>*@
                <li class="breadcrumb-item text-primary active" aria-current="page">Specification</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/Content/img/categories/O/1.jpg" alt="">
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="product-specification">
                    <h2>Specification</h2>
                    <table id="tblspec" class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Size (mm)</td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>
                                    Grey
                                </td>
                            </tr>
                            @*<tr>
                                    <td>Finish</td>
                                    <td>
                                        Satin
                                    </td>
                                </tr>*@
                            <tr>
                                <td>Material</td>
                                <td>
                                    Porcelain
                                </td>
                            </tr>
                            @*<tr>
                                    <td>Style</td>
                                    <td>
                                        Marble
                                    </td>
                                </tr>*@
                            <tr>
                                <td>Suitability</td>
                                <td>
                                    Outdoor
                                </td>
                            </tr>
                            <tr>
                                <td>Thickness</td>
                                <td>
                                    20mm
                                </td>
                            </tr>
                            <tr>
                                <td>Tiles Type</td>
                                <td>
                                    Floor tiles
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><br />
    </div>
</div>

<!-- Feature Start -->
<div class="container-xxl">
    <div class="container">
        <div class="row g-0 team-items">            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a class="elem" href="~/content/img/team-2-large.jpg" title="KANDLA BLACK" data-lcl-txt="600x600 mm" data-lcl-thumb="~/Content/img/categories/O/1.jpg">
                            <img class="img-fluid-products" src="~/content/img/team-1-1.jpg" alt="">
                        </a>                        
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Size : 600x600 mm</h3>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a class="elem" href="~/content/img/team-3-large.jpg" title="KANDLA BLACK" data-lcl-txt="600x900 mm" data-lcl-thumb="~/content/img/team-3.jpg">
                            <img class="img-fluid-products" src="~/content/img/team-1-2.jpg" alt="">
                        </a>                        
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Size : 600x900 mm</h3>                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative">
                        <a class="elem" href="~/content/img/team-3-large.jpg" title="KANDLA BLACK" data-lcl-txt="600x1200 mm" data-lcl-thumb="~/content/img/team-3.jpg">
                            <img class="img-fluid-products" src="~/content/img/team-1-3.jpg" alt="">
                        </a>                       
                    </div>
                    <div class="bg-light text-center p-4">
                        <h3 class="mt-2">Size : 600x1200 mm</h3>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
