@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-1.jpg'>">
            <img class="img-fluid" src="~/Content/img/carousel-1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-1 text-white animated slideInDown">The Axiom of Choice</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">Digital Business</p>
                            <a href="" class="btn btn-primary animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-2.jpg'>">
            <img class="img-fluid" src="~/Content/img/carousel-2.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-1 text-white animated slideInDown">The Axiom of Choice</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">Digital Business</p>
                            <a href="" class="btn btn-primary animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
            <img class="img-fluid" src="~/Content/img/carousel-3.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-1 text-white animated slideInDown">The Axiom of Choice</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">Digital Business</p>
                            <a href="" class="btn btn-primary animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="~/content/img/about-1.jpg" alt="">
                    <img class="img-fluid" src="~/content/img/about-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h4 class="section-title">Welcome To</h4>
                <h1 class="display-5 mb-4">DEAXIOM</h1>
                <p>DEAXIOM is a premier supplier of high-quality porcelain ceramic tiles. Our collection offers a diverse range of elegant designs to transform any space into a masterpiece.</p>
                <p>Deaxiom Exports is a renowned company specializing in export of luxury porcelain tiles. Our company is dedicated to crafting exquisite tiles that enhance the aesthetics and elegance of any space. With a wide range of designs, finishes, and sizes, we cater to the discerning needs of our clients, offering them the opportunity to create stunning interiors.</p>
                <p class="mb-4">The tiles boast exceptional strength and are suitable for both residential and commercial applications.</p>
                <div class="d-flex align-items-center mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary" style="width: 120px; height: 120px;">
                        <h1 class="display-1 mb-n2" data-toggle="counter-up">25</h1>
                    </div>
                    <div class="ps-4">
                        <h3>Years</h3>
                        <h3>Working</h3>
                        <h3 class="mb-0">Experience</h3>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<br />
<br />
<div class="jumbotron">
    <div class="container-xxl py-5">
        <div class="container pt-5">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="~/Content/img/icons/icon-3.png" alt="Icon">
                        </div>
                        <h2 class="mb-3">Porcelain / Vitrified Tiles</h2>
                        <p class="mb-0">Porcelain tiles offer a vast range of design options, superior durability, and water resistance. On the other hand, Vitrified tiles provide excellent stain resistance, uniformity, and affordability.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="~/Content/img/icons/icon-4.png" alt="Icon">
                        </div>
                        <h2 class="mb-3">Ceramic Wall Tiles</h2>
                        <p class="mb-0">Tiles are strong, versatile, budget friendly, easy to clean, possess low porosity, and require minimal maintenance. These tiles can be installed on both floors and walls and are available in a variety of colours, designs, finishes, and sizes for you to choose from.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="~/Content/img/icons/icon-4.png" alt="Icon">
                        </div>
                        <h2 class="mb-3">Outdoor Stones</h2>
                        <p class="mb-0">Specifically designed and produced for outdoor application. Emulate the beauty of your interior design and extend your living spaces with a contemporary and continental lifestyle look</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Why Choose Us!</h4>
                <h1 class="display-5 mb-4">Why You Should Trust Us?</h1>
                <!--<p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>-->
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-2.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Customer Satisfaction</h3>
                                <p class="mb-0">Dedicated to provide our clients with exceptional customer service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Best Quality</h3>
                                <p class="mb-0">Carefully selected, technically advanced product ranges to suit every application, from great value to luxurious and unique finishes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-4.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Export Network</h3>
                                <p class="mb-0">Throughout the UK and wordwide, our delivery capability is equipped to reliably meet the needs of our professional and residential clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Ontime Delivery</h3>
                                <p class="mb-0">Working together as one-team to deliver a seamless customer service On Time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="~/Content/img/icons/icon-3.png" alt="Icon">
                            <div class="ms-4">
                                <h3>Exclusive Supply</h3>
                                <p class="mb-0">Long-standing relationships with premier production plants mean we’re often first to market with the latest products on an exclusive basis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="~/Content/img/whyus.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<br />
<div class="container">

    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative" data-dot="<img src='Content/img/carousel-1.jpg'>">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/Content/img/categories/O/1.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">KANDLA GREY</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-2.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/2.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">QUARTZ WHITE</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/3.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">BRAZILIAN BLACK</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/4.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">BRAZILIAN GREY</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/5.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3"> COUNTRY ANTHRACITE</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/6.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">COUNTRY CREMA</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/7.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">COUNTRY LGY</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/8.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">ROUGH BRUNO</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/9.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">AUSTIN IVORY</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/10.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">AUSTIN GREY</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='Content/img/carousel-3.jpg'>">
                <img class="img-fluid" src="~/Content/img/categories/O/11.jpg" />
                <div class="owl-carousel-inner-clear">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">AUSTIN BLACK</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
